<h1>School Class Form</h1>
<%= form_for @schoolclass do |f| %>
  <%= f.label "Class Title:" %><br>
  <%= f.text_field :title %><br>
  <%= f.label "Class Room:" %><br>
  <%= f.text_field :room_number %><br>
  <%= f.submit "Create School class" %>
<% end %>
